<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" method="POST" th:action="@{/sessions/logout}">
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/files}">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">File Name</th>
                                        <th style="width: 20%" scope="col">File Size</th>
                                        <th style="width: 60%" scope="col">Created On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${files.isEmpty()}">
                                    <td colspan="2">No Fies Available</td>
                                </tr>
                                <tr th:unless="${files.isEmpty()}" th:each="file : ${files}">
                                    <td>
                                        <a th:href="@{/files/download(fileId=${file.id})}" target="_blank" class="btn btn-success">Download</a>
                                        <a th:href="@{/files/delete(fileId=${file.id})}"  class="btn btn-danger">Delete</a>
                                    </td>
                                    <th scope="row" th:text="${file.name}"></th>
                                    <td scope="row" th:text="${file.size}"></td>
                                    <td scope="row" th:text="${file.createdAt}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes"  role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button name="addNote" id="addNoteButton" style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 20%" scope="col">Description</th>
                                        <th style="width: 60%" scope="col">Created On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${notes.isEmpty()}">
                                    <td colspan="2">No Notes Available</td>
                                </tr>
                                    <tr th:unless="${notes.isEmpty()}" th:each="note: ${notes}">
                                        <td>
<!--                                            <button type="button" class="btn btn-success">Edit</button>-->
<!--                                            <a class="btn btn-danger">Delete</a>-->
                                            <button type="button" id="note-edit" class="btn btn-success"
                                                    data-toggle="modal" data-target="#noteModal" th:noteId="${note.noteId}"
                                                    th:noteTitle="${note.noteTitle}" th:noteDescription="${note.noteDescription}"
                                                    th:onclick="showNoteModal(this.getAttribute('notetitle'),
                                                     this.getAttribute('notedescription'), this.getAttribute('noteid'))">Edit</button>

                                            <a th:href="@{/notes(noteId=${note.noteId})}"   class="btn btn-danger" id="delete">Delete</a>
                                        </td>
                                        <th scope="row" th:text="${note.noteTitle}"></th>
                                        <td scope="row" th:text="${note.noteDescription}"></td>
                                        <td scope="row" th:text="${#dates.createToday()}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal"  tabindex="-1" role="dialog"  aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" >
                                        <form action="#"  method="POST" th:action="@{/notes}" th:object="${note}">
                                            <input type="hidden" th:field="*{noteId}" th:value="${note.noteId}"  name="noteId" id="note-id">

                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text"  th:field="*{noteTitle}" name= "noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control"   th:field="*{noteDescription}" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped"  id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${privates.isEmpty()}">
                                    <td colspan="2">No Credentials Available</td>
                                </tr>
                                <tr th:unless="${privates.isEmpty()}" th:each="item:${privates}">
                                    <td>
                                        <button  type="button" id="private-edit" class="btn btn-success"
                                        data-toggle="modal" data-target="#credentialModal" th:credentialId="${item.credentialId}"
                                        th:url="${item.url}" th:username="${item.username}" th:rawPassword="${item.rawPassword}"

                                        th:onclick="showCredentialModal(this.getAttribute('credentialid'), this.getAttribute('url'),
                                        this.getAttribute('username'), this.getAttribute('rawpassword'))">Edit</button>

                                        <a th:href="@{/credentials(credentialId=${item.credentialId})}" class="btn btn-danger">Delete</a>
                                    </td>
                                    <th scope="row" th:text="${item.url}" ></th>
                                    <td scope="row" th:text="${item.username}"></td>
                                    <td scope="row" th:text="${item.password}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal"  tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST" th:action="@{/credentials}" th:object="${private}">
                                            <input type="hidden" th:field="*{credentialId}" th:value="${private.credentialId}" name="credentialId" id="credential-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">URL</label>
                                                <input type="text" th:field="*{url}" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Username</label>
                                                <input type="text" th:field="*{username}" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Password</label>
                                                <input type="text" th:field="*{rawPassword}" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal( noteTitle, noteDescription, noteId) {
                // $('#note-id').val(noteId ? noteId : 0);
                $('#note-id').val(noteId ? parseInt(noteId) : 0);
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : 0);
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>