<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

  <title>Registration Success</title>

</head>
<body>
<div class="container text-center">
  <h3>You have signed up successfully!</h3>
  <h4><a th:href="@{/sessions/login}">Click here to Login</a></h4>
</div>

</body>
</html>